.enunciado {
    color: blueviolet;
}

.inicio {
    font-weight: bold;
}

.html {
    font-weight: bold;
}

.css {
    font-weight: bold;
}

.fondo {
    background-color: antiquewhite;
    border-radius: 1rem;
    margin: 10px 700px 10px 0px;
    padding: 10px;
}

.novedades {
    position: relative;
    bottom: 230px;
    margin: 10px 100px 10px 990px;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 1rem;
}

.footer {
    text-align: center;
    font-size: larger;
}