.teal {
    color: teal;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

.olive {
    color: olive;
}

.fuchsia {
    color: fuchsia;
}

.green {
    color: green;
}

.fondored {
    background-color: red;
}

.fondogreen {
    background-color: green;
}

.fondoblue {
    background-color: blue;
}